<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_settlement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,128}</string>
                <key>textureRect</key>
                <string>{{1,1391},{512,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PurpleMonster.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{574,1285},{78,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,362}</string>
                <key>spriteSourceSize</key>
                <string>{512,362}</string>
                <key>textureRect</key>
                <string>{{1,1027},{512,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,57}</string>
                <key>spriteSourceSize</key>
                <string>{195,57}</string>
                <key>textureRect</key>
                <string>{{515,1285},{195,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{515,1027},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,69}</string>
                <key>spriteSourceSize</key>
                <string>{60,71}</string>
                <key>textureRect</key>
                <string>{{574,1365},{60,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>texture2d.png</string>
            <key>size</key>
            <string>{1026,1520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34bcb89983c7907a1bcd85cf19126592:1248f8df0433680cb450db371860ac9b:996eb499db30ff0f05634e003165a851$</string>
            <key>textureFileName</key>
            <string>texture2d.png</string>
        </dict>
    </dict>
</plist>
